<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/css/style.css" type="text/css" />
		<title>MVC With Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
		<style>
			body {
				background: #94a8da;
				background-image: url(/img/hypno-burger-2.png);
				background-size: 840px;
				background-repeat: no-repeat;
			}
			.button {
				background-color: #4CAF50; /* Green */
				border: none;
				color: white;
				padding: 10px 10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
			}
			
			li {
				padding: 3px;
				margin: 3px;
				background: #faebd7;
								width:300px;
			}

			.label {
				font-weight: bold;
			}

			.create-update-form {
				padding: 3px;
				margin: 3px;
				background: aqua;
			}

			.form-group {
				margin-bottom: 5px;
			}

		</style>
	</body>
</html>
