
{{!-- Deploying to heroku make sure you have the "start" dependencies --}}
{{!-- use Node and MySQL to query and route data in your app, and Handlebars to generate your HTML. --}}
{{!-- add a delete button into the `index.handlebars` file next to each burger. --}}
{{!-- add `burgers.js` file to add a jQuery event handler for the delete button. --}}
{{!-- add the ORM to include a delete key and function --}}
{{!-- the burger model should include a delete key and function that uses the ORM --}}
{{!-- the burger `burgersController.js` file to have a `/api/burgers/:id` delete route, to call the delete key of the burger model, and to pass in arguments as necessary --}}


<h2>Order a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="name">
      <button type="submit" class="button">ORDER</button>
  </div>

</form>

<h2>Eat the burger</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      {{> burgers/burgers-block hungry=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers you've eaten</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      {{> burgers/burgers-block hungry=false}}
    {{/if}}
  {{/each}}
</ul>

<div id="t" style="display: none">
    <img class="someClass" src="{{imgURL}}">
</div>